<div id="container">

<div id="notEaten">
<p>To be eaten</p>

</div>

<div id="center">
    <img src="/assets/img/logo.png" alt="logo" width="100" height="100">
<h1>Burger Eater</h1>
 <textarea id="message" name="message" required="required"></textarea>
 <br>
<input id = "submitButton" type="submit" value="Submit">
<p>Enter the name of a burger you would like to eat.</p>

</div>



<div id="devoured">

<p>Devoured</p>

</div>


</div>